* {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  "a a b" 
  "c d b" 
  "c e e";
  gap: 10px;
}

header {
  grid-area: a;
  background-color: red;
}
nav {
  grid-area: b;
  background-color: blue;
}
menu {
  grid-area: c;
  background-color: yellow;
}
main {
  grid-area: d;
  background-color: green;
}
footer {
  grid-area: e;
  background-color: orange;
}
