body,
menu {
  padding: 0px;
  margin: 0px;
}

menu {
  background-color: black;
  color: white;
  line-height: 50px;

  > ul {
    margin: 0px;

    > li {
      display: inline-block;
      margin-right: 50px;

      > a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

menu > ul > li > a:hover {
    color: goldenrod;
}


a::first-letter {
    font-size: 1.5em;
    font-weight: bold;
    color: red;
    }
    