* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: #1f1e1e;
}

.title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
  width: 100%;

  .text {
    border-bottom: 1px solid #3333ff;
    border-top: 1px solid #3333ff;
    color: #ffffff;
    margin: 1rem 0rem;
    max-width: fit-content;
    padding: 1rem 0rem;
    text-align: center;
    width: 100%;
  }
}

.content {
  background-color: #d7d7d7;
  border-radius: 50px;
  box-shadow: 2px 2px 2px #3333ff;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-height: max-content;
  max-width: max-content;
  padding: 2rem 5rem;
  text-align: center;
  width: 100%;

  > *:nth-child(2),
  *:nth-child(3),
  *:nth-child(4) {
    margin-top: 1rem;
  }

  .clp {
    h2 {
      margin-bottom: 0.5rem;
    }

    input {
      border-radius: 10px;
      font-size: 0.8rem;
      padding: 0.8rem;
      text-align: center;
      width: 100%;
    }
  }

  .selectOpt {
    h2 {
      margin-bottom: 0.5rem;
    }

    select {
      border-radius: 10px;
      font-size: 0.8rem;
      padding: 0.8rem;
      text-align: center;
      width: 100%;
    }
  }

  .btn {
    background-color: #3333ff;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
  }

  .btn:hover {
    color: #d7d7d7;
  }

  .resultCalc {
    font-size: 1.2rem;
    font-weight: 900;
    line-height: 5px;
    margin-top: 1.5rem;
    animation: changeColor 2s ease-in infinite;
  }
}

.graph {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1.5rem;
  max-width: 50%;
  padding: 1rem;
  width: 100%;
}

.Volver {
  background-color: #ffffff;
  border-radius: 6px 6px 6px 6px;
  bottom: 10px;
  margin-left: 10px;
  padding: 10px 0 0;
  position: fixed;
  right: 10px;
  text-align: center;
  width: 90px;
  z-index: 15;
}

@keyframes changeColor {
  0% {
    color: #000;
  }
  50% {
    color: #832424;
  }
  100% {
    color: #000;
  }
}