* {
  margin: 0;
  padding: 0;
}

/* GRID */

.grid-container {
  background-image: url("./../img/guts_theme.jpg");
  background-size: cover;
  display: grid;
  grid-template-areas:
    "menu section"
    "menu main"
    "footer footer";
  grid-template-columns: auto 80%;
  grid-template-rows: 10% 90% auto;

  @media (width <= 572px) {
    grid-template-areas:
      "menu"
      "section"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    background-image: url("./../img/guts_theme_movile.jpg");
    background-size: contain;
  }
}

menu {
  background-color: transparent;
  grid-area: menu;
}

section {
  background-color: transparent;
  grid-area: section;
}

main {
  background-color: rgba(215, 215, 215, 0.2);
  grid-area: main;
}

footer {
  background-color: rgba(215, 215, 215, 0.8);
  grid-area: footer;
}

/* FLEXBOX */

menu {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem 0rem;
  width: 100%;

  .img_move {
    width: 20%;
    img {
      animation: MoveY 8s linear infinite;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
      border-radius: 99px;
      max-width: 10rem;
      width: 100%;
    }
  }

  .title {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    width: 75%;

    h1 {
      background-color: rgba(215, 215, 215, 1);
      color: crimson;
      font-weight: 900;
      letter-spacing: 2.5px;
      padding: 0.8rem 1rem;
    }

    .links {
      width: 60%;
      ul {
        li {
          background-color: rgba(215, 215, 215, 1);
          list-style: none;
          margin: 1rem;
          padding: 1rem;
          text-align: center;
          a {
            color: crimson;
            font-weight: 900;
            text-decoration: none;
          }
        }
      }
    }
  }

  @media (width <= 572px) {
    flex-flow: column wrap;
    height: fit-content;
    .img_move {
      img {
        animation: MoveX 8s linear infinite;
      }
    }

    .title {
      width: 100%;
      .links {
        width: 100%;
        ul {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          margin-top: 1rem;
          li {
            margin: 0.5rem;
            padding: 0.5rem;
          }
        }
      }
    }
  }
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;

  .description {
    align-items: center;
    display: flex;
    width: 75%;
    p {
      background-color: rgba(215, 215, 215, 0.8);
      border-radius: 25px;
      color: crimson;
      font-size: 1.1rem;
      font-weight: 900;
      padding: 1rem;
      text-align: justify;
    }
  }

  img {
    animation: spinner 5s linear infinite;
    max-width: 5rem;
    object-fit: contain;
    width: 15%;
  }

  @media (width <= 572px) {
    flex-flow: column wrap;
    height: fit-content;

    .description {
      width: 100%;
      p {
        background-color: rgba(215, 215, 215, 1);
        margin: 1rem;
      }
    }

    img {
      display: flex;
      align-self: center;
      max-width: 10rem;
      width: 100%;
    }
  }
}

main {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  .products {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .product {
      align-items: center;
      background-color: #d7d7d7;
      border-radius: 15px;
      display: flex;
      flex-flow: column wrap;
      height: min-content;
      justify-content: space-between;
      margin: 1rem;
      padding: 1.5rem;

      img {
        max-width: 10rem;
        object-fit: cover;
        transition: 0.5s;
      }

      img:hover {
        transform: scale(1.2);
      }

      h2 {
        font-size: 1.1rem;
        font-weight: 600;
        padding-top: 1.2rem;
        text-align: center;
      }

      h4 {
        font-size: 1.1rem;
        font-weight: 600;
        text-align: center;
      }
    }
  }

  @media (width <= 572px) {
    .products {
      margin: 0 auto;
      flex-flow: column wrap;

      .product {
        img {
          max-width: 20rem;
        }
      }
    }
  }
}

footer {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;

  h2 {
    color: crimson;
  }

  .socialMedia {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    a > img {
      max-width: 2.5rem;
      width: 100%;
    }
  }

  @media (width <= 572px) {
    flex-flow: row wrap;
    width: 100%;
  
    h2 {
      font-size: 0.8rem;
    }
  
    .socialMedia {
      align-items: center;
      display: flex;
      flex-flow: column wrap;
      a > img {
        max-width: 2rem;
        width: 100%;
      }
    }
  }
}

.Volver {
  border-radius: 6px 6px 6px 6px;
  bottom: 5px;
  margin-left: 10px;
  padding: 10px 0 0;
  position: fixed;
  right: 5px;
  text-align: center;
  width: 90px;
  z-index: 15;

  @media (width <= 572px) {
    right: 10px;

    p > a > img {
      width: 100%;
      max-width: 30px;
      height: fit-content;
    }
  }
}

.Float {
  display: none;

  @media (width <= 572px) {
    display: inline;
    border-radius: 6px 6px 6px 6px;
    bottom: 5px;
    position: fixed;
    left: 10px;
    text-align: center;
    width: 90px;
    z-index: 15;

    > p > a > img {
      max-width: 30px;
      width: 100%;
      background-color: #d7d7d7;
      border-radius: 99px;
    }

    > p > a > img:hover {
      max-width: 45px;
      width: 100%;
    }
  }
}

/* KEYFRAMES */

@keyframes MoveY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes MoveX {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
