* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* GRID */

.grid-container {
  display: grid;
  grid-template-areas:
    "menu section"
    "menu main"
    "footer footer";
  grid-template-columns: auto 80%;
  grid-template-rows: 5rem auto 5rem;
  height: 100vh;

  @media (width <= 572px) {
    grid-template-areas:
      "menu"
      "section"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 5rem auto 6rem;
    height: auto;
  }
}

menu {
  background-color: #d6efd8;
  grid-area: menu;
}

section {
  background-color: #80af81;
  grid-area: section;
}

main {
  background-color: #508d4e;
  grid-area: main;
}

footer {
  background-color: #1a5319;
  grid-area: footer;
}

/* FLEXBOX */

menu {
  width: 100%;
  padding: 1rem;
  .title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    img {
      width: 100%;
      max-width: 4rem;
      border: 2px solid #1a5319;
      border-radius: 99px;
      object-fit: cover;
      animation: spin 4s linear infinite;
    }

    h1 {
      margin-left: 0.5rem;
      font-size: 1.5rem;
      font-weight: 900;
      animation: titleColors 1s linear infinite;
      animation-direction: alternate;
    }

    @media (width <= 1070px) {
      padding: 0rem;
      padding-top: 1rem;
      flex-flow: column wrap;
      img {
        width: 100%;
        max-width: 5rem;
      }

      h1 {
        margin-left: 0rem;
        margin-top: 0.5rem;
        font-size: 1.2rem;
      }
    }

    @media (width <= 572px) {
      justify-content: center;
      margin-top: 0rem;
      flex-flow: row wrap;
      img {
        width: 100%;
        max-width: 4rem;
        margin-right: 0.5rem;
      }

      h1 {
        margin: 0.5rem 0rem;
        font-size: 1.4rem;
      }
    }
  }

  .links {
    display: flex;
    flex-flow: column wrap;
    ul {
      li {
        display: flex;
        justify-content: center;
        list-style: none;

        a {
          margin-top: 0.6rem;
          text-decoration: none;
          color: #1a5319;
          font-size: 1rem;
        }

        a:hover {
          color: #508d4e;
        }
      }

      @media (width <= 572px) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin-top: 1rem;
      }
    }
  }

  @media (width <= 1070px) {
    padding: 0rem;
  }
}

section {
  width: 100%;
  .form_select {
    align-content: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 1rem 0rem;
    width: 100%;

    label {
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 1px;
      text-align: center;
    }

    select {
      border-radius: 10px;
      font-size: 0.8rem;
      max-width: 90%;
      padding: 0.5rem;
      width: 100%;
    }
  }

  @media (width <= 572px) {
    label {
      font-size: 1.2rem;
    }

    select {
      font-size: 1rem;
      max-width: 80%;
    }
  }
}

#onhover {
  display: none;
}
#surround:hover img[id="initial"] {
  display: none;
}
#surround:hover img[id="onhover"] {
  display: block;
}

main {
  width: 100%;
  .products {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: center;
    .product {
      align-items: center;
      border: 1px solid #888888;
      border-radius: 15px;
      box-shadow: 1px 1px 4px #e7e7e7;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;
      margin: 1rem;
      padding: 1rem;
      width: 100%;
      max-width: 12rem;
      height: 16rem;
      img {
        width: 80%;
        max-width: 12rem;
        height: 12rem;
        object-fit: contain;
        transition: 0.5s;
      }

      img:hover {
        transform: scale(1.2);
      }
    }
  }
  @media (width <= 572px) {
    .products {
      flex-flow: column wrap;

      .product {
        max-width: 16rem;
        height: 20rem;
        margin: 0 auto;
        margin-top: 1.5rem;

        img {
          height: 15rem;
        }
      }

      .product:last-child {
        margin-bottom: 1.5rem;
      }
    }
  }
}

footer {
  align-content: center;
  align-items: center;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* padding: 0.5rem 0rem; */
  text-align: center;
  width: 100%;

  .icons {
    font-size: 1.2rem;
    i {
      padding: 0rem 0.2rem;
    }
  }

  h3 {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    max-width: 20%;
  }

  @media (width <= 1000px) {
    flex-flow: column wrap;

    
  h3 {
    margin-top: 0.5rem;
    max-width: 50%;
  }
  }

  @media (width <= 572px) {
    padding: 1rem 0rem;
    flex-flow: column wrap;

    .icons {
      font-size: 1.5rem;
      i {
        padding: 0rem 0.2rem;
      }
    }

    h3 {
      font-size: 1.2rem;
      margin-top: 0.5rem;
      max-width: 100%;
    }
  }
}

.Volver {
  border-radius: 6px 6px 6px 6px;
  bottom: 5px;
  margin-left: 10px;
  padding: 10px 0 0;
  position: fixed;
  right: 5px;
  text-align: center;
  width: 90px;
  z-index: 15;
}

.Float {

  display: none;

  @media (width <= 572px)  {
    display: inline;
    border-radius: 6px 6px 6px 6px;
    bottom: 5px;
    position: fixed;
    left: 0px;
    text-align: center;
    width: 90px;
    z-index: 15;
  
    > p > a > img {
      max-width: 40px;
      width: 100%;
    }
  
    > p > a > img:hover {
      max-width: 45px;
      width: 100%;
    }
  }

}


/* Keyframes */

@keyframes titleColors {
  0% {
    color: #1a5319;
  }

  100% {
    color: #508d4e;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
